
/* Section Header */
.category-header {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid var(--border);
}

.category-header__content {
  max-width: 48rem;
}

.category-header__title {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.category-header__description {
  font-size: 0.875rem;
  color: var(--muted-foreground);
}

/* Section Products */
.products {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.products__layout {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.products__price-filter {
  width: 100%;
  max-width: 24rem;
}

.products__grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  flex-grow: 1;
}

@media (min-width: 64rem) {
  .products__layout {
    flex-direction: row;
  }

  .products__price-filter {
    max-width: 20rem;
  }
}


.category-page-error {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.category-page-error__message {
  color: var(--error);
}